<div class="tab-info">
  <%= render 'users/show_user' %>
</div>

<script type="text/javascript">
	$('.dialog-box .ok button').on('click', function() {
     $('.dialog-box').fadeOut();
   });
</script>