body {
  background: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-family: 'Roboto', 'Open Sans';
  color: #333;
}

body, html {
  height: 100% !important;
}

.container-z {
    width: 90%;
    margin: auto;
}
