//header

#header {
  padding: 10px 0px 15px 0px;
  display: block;
  background-color: #3434a3;
  height: auto;
  a:hover {
    background: transparent;
    text-decoration: none;
  }
  .logo {
    float: left;
    position: relative;
    h1 {
      margin: 0px 10px 0px 0px;
      text-align: center;
      padding: 5px 10px;
      background: #fbfbfb;
      display: inline-block;
      img {
        height: 45px;
        width: auto;
      }
    }
    .app-title {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      padding-top: 5px;
    }
  }
  .login-control {
    float: right;
    button {
      background: transparent;
      border: none;
      color: #fff;
      padding: 0px;
      img {
        height: 30px;
        margin-right: 10px;
      }
      .caret-icon {
        font-size: 15px;
        margin-left: 10px;
      }
      span {
        display: inline-block;
        top: 50%;
      }
    }
  }
}

#header:after {
    content: " ";
    display: block;
    clear: both;
}

//navigation

#nav-bar {
  border-bottom: 1px solid #cccccc;
  .title-tab {
    display: inline-block;
    padding: 15px 15px;
    font-size: 16px;
    a:hover {
      background: transparent;
      text-decoration: none;
      color: #6666ff;
    }
  }
  .send-request {
    margin: 10px 20px;
    padding: 5px 20px;
    float: right;
    background: #31b0d5;
    border: 1px solid #269abc;
    border-radius: 5px;
    color: white;
    a {
      color: white;
    }
  }
  .send-request:hover {
    background: #269abc;
    a {
      text-decoration: none;
      background: transparent;
      color: white;
    }
  }
}
