//header


#header {
  padding: 10px 0px 15px 0px;
  display: block;
  background-color: #3434a3;
  height: auto;
  a:hover {
    background: transparent;
    text-decoration: none;
  }
  .logo {
    float: left;
    position: relative;
    h1 {
      margin: 0px 10px 0px 0px;
      text-align: center;
      padding: 5px 10px;
      background: #fbfbfb;
      display: inline-block;
      img {
        height: 45px;
        width: auto;
      }
    }
    .app-title {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      padding-top: 5px;
    }
  }
  .login-control {
    float: right;
    button {
      background: transparent;
      border: none;
      color: #fff;
      padding: 0px;
      img {
        height: 30px;
        margin-right: 10px;
      }
      .caret-icon {
        font-size: 15px;
        margin-left: 10px;
      }
      span {
        display: inline-block;
        top: 50%;
      }
    }
  }
}

#header:after {
    content: " ";
    display: block;
    clear: both;
}

//navigation

#nav-bar {
  background: #e7e7e7;
  border-bottom: 1px solid #cccccc;
  .title-tab.active {
    a {
      color: #6666ff;
    }
    .arrow-up {
      display: block;
    }
  }
  .title-tab {
    display: inline-block;
    padding: 15px 15px;
    font-size: 16px;
    position: relative;
    color: #666;
    .arrow-up {
      display: none;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 11px solid #cccccc;
      position: absolute;
      left: 80px;
      top: 42px;
      .inner-triangle {
        position: relative;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 10px solid white;
        left: -7px;
        top: 1px;
      }
    }
    a:hover {
      background: transparent;
      text-decoration: none;
      color: #6666ff;
    }
  }
  .send-request {
    margin: 10px 20px;
    padding: 5px 20px;
    float: right;
    background: #4d8bc0;
    border: 1px solid #1b6aae;
    border-radius: 5px;
    color: white;
    a {
      color: white;
    }
  }
  .send-request:hover {
    background: #1b6aae;
    a {
      text-decoration: none;
      background: transparent;
      color: white;
    }
  }
}
