//header


#header {
  padding: 10px 0px 15px 0px;
  display: block;
  background-color: #4e69a2;
  height: auto;
  a:hover {
    background: transparent;
    text-decoration: none;
  }
  .logo {
    float: left;
    position: relative;
    h1 {
      margin: 0px 10px 0px 0px;
      text-align: center;
      padding: 5px 10px;
      background: #fbfbfb;
      display: inline-block;
      img {
        height: 45px;
        width: auto;
      }
    }
    .app-title {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      padding-top: 5px;
    }
  }
  .login-control {
    float: right;
    button {
      background: transparent;
      border: none;
      color: #fff;
      padding: 0px;
      img {
        height: 30px;
        margin-right: 10px;
      }
      .caret-icon {
        font-size: 15px;
        margin-left: 10px;
      }
      span {
        display: inline-block;
        top: 50%;
      }
    }
  }
}

#header:after {
    content: " ";
    display: block;
    clear: both;
}

//navigation

#nav-bar {
  background: #f7f7f7;
  border-bottom: 1px solid #cccccc;
  .title-tab.active {
    a {
      color: #6666ff !important;
    }
    .arrow-up {
      display: block;
    }
  }
  .title-tab {
    display: inline-block;
    padding: 15px 15px;
    font-size: 16px;
    position: relative;
    color: #666;
    .notify {
      display: inline-block;
      vertical-align: text-top;
      font-weight: bold;
      line-height: 18px;
      color: white;
      text-shadow: 0 1px #902a27;
      background: #e93631;
      background-image: linear-gradient(to bottom, #f65d5f, #e93631);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 0px 6px 0px 6px;
      font-size: 14px;
      margin-left: 3px;
    }
    a {
      color: #666;
    }
    .arrow-up {
      display: none;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 11px solid #cccccc;
      position: absolute;
      left: 70px;
      top: 42px;
      .inner-triangle {
        position: relative;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 10px solid white;
        left: -7px;
        top: 1px;
      }
    }
    a:hover {
      background: transparent;
      text-decoration: none;
      color: #6666ff;
    }
  }
  .send-request {
    margin: 10px 20px;
    padding: 5px 20px;
    float: right;
    background: #4e69a2;
    border: 1px solid #435a8b;
    border-radius: 5px;
    color: white;
    a {
      color: white;
    }
  }
  .send-request:hover {
    background: #8b9dc3;
    a {
      text-decoration: none;
      background: transparent;
      color: white;
    }
  }
}
