// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-board {
  thead {
    tr {
      th {
        font-size: 14px;
        font-family: verdana, arial, helvetica, sans-serif;
      }
    }
  }
  .request-record {
    font-size: 20px;
  }
  tbody {
    tr:nth-of-type(odd) {
      background: #cce6ff;
    }
    .request-record {
      .balance-invalid {
        color: red;
      }
      td {
        font-size: 13px;
        vertical-align: middle;
      }
      .request-status {
        color: white;
        margin: 5px 0px;
        font-size: 12px;
        .pending, .approved, .denied {
          padding: 5px 10px;
          border-radius: 4px;
        }
        .pending {
          background: #4d8bc0;
        }
        .approved {
          background: #56a656;
        }
        .denied {
          background: #d35956;
        }
      }
      .user-action-for-request {
        .action {
          margin: 0px 4px;
          font-size: 14px;
        }
        .view {
          color: #56a656;
        }
        .edit {
          color: #4d8bc0;
        }
        .delete {
          color: #d35956;
        }
        a:hover {
          background: transparent;
          text-decoration: none;
          color: #fc4349;
        }
      }
    }
    .request-record:hover {
      cursor: pointer;
    }
  }
}

.new-request-form {
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 10;

  .new-edit-request {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.7);
    padding: 5% 0px;
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    .new_request, .edit_request {
      background: white;
      overflow: auto;
      width: 650px;
      height: auto;
      margin: auto;
      padding: 7px 7px 20px 15px;
      font-size: 13px;
      .main-form, .x-form {
        display: inline-block;
      }
      .x-form {
        width: 2%;
        vertical-align: top;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        font-family: SANS-SERIF;
        .close-request-form:hover {
          cursor: pointer;
        }
      }
      .main-form {
        width: 97%;
        .title {
          text-align: left;
          font-weight: bold;
          margin-bottom: 10px;
          font-size: 16px;
          span {
            float: right;
          }
          span:hover {
            cursor: pointer;
          }
        }
        .reviewer-cc {
          margin-top: 30px;
          overflow: hidden;
          border-bottom: 1px solid #cccccc;
          .reviewer-cc-form {
            margin-bottom: 20px;
            .request-form-label, .request-form-input {
              display: inline-block;
            }
            .request-form-label {
              text-align: right;
              padding-right: 10px;
              width: 23%;
              span {
                color: red;
              }
            }
            .request-form-input {
              width: 76%;
              padding-right: 20px;
              input {
                width: 100%;
                border: 1px solid #999999;
                border-radius: 4px;
                padding: 5px 15px;
                background: #fff;
              }
            }
          }
        }
        .request-type {
          padding: 15px 0px 0px 0px;
          .request-form-label, .request-form-select {
            display: inline-block;
          }
          .request-form-label {
            text-align: right;
            padding-right: 10px;
            width: 23%;
            span {
              color: red;
            }
          }
          .request-form-select {
            width: 34%;
            select {
              width: 100%;
              border: 2px solid #dbdbdb;
              border-radius: 4px;
              padding: 5px 15px;
              background: #fff;
            }
          }
        }
        .duration-form {
          #duration-form-label {
            vertical-align: top;
            padding-top: 30px;
            span {
              color: red;
            }
          }
          .add:hover {
            background: transparent;
            text-decoration: none;
            color: red;
          }
          .request-form-label, .request-duration-single-form {
            display: inline-block; 
          }
          .request-form-label {
            text-align: right;
            padding-right: 10px;
            width: 23%;
            align-items: top;
          }
          .request-duration-single-form {
            overflow: hidden;
            width: 76%;
            margin: 10px 0px;
            .nested-fields {
              overflow: hidden;
              width: 100%;
              border-bottom: 1px solid #cccccc;
              padding-top: 15px;
              padding-bottom: 10px;
              .add-duration {
                a:hover {
                  background: transparent;
                  text-decoration: none;
                }
              }
              .duration-label, .duration-input {
                display: inline-block;
              }
              .duration-label {
                width: 14%;
                text-align: left;
              }
              .duration-input {
                width: 32%;
                padding-right: 10px;
                input {
                  width: 100%;
                  border: 1px solid #999999;
                  border-radius: 4px;
                  padding: 5px 15px;
                  background: #fff;
                }
              }
              .duration-radio-input {
                margin-top: 15px;
                display: inline-block;
                width: 80%;
                label {
                  font-weight: normal;
                  margin-right: 10px;
                }

                input[type='radio'] {
                  width: 17px;
                  height: 17px;
                  margin-top: -1px;
                  vertical-align: middle;
                }
              }
              a.delete-duration {
                color: red;
                font-size: 17px;
                float: right;
              }
              a.delete-duration:hover {
                background: transparent;
                text-decoration: none;
              }
            } 
          }
        }
        .reason {
          padding: 0px;
          .request-form-label, .request-form-input {
            display: inline-block;
          }
          .request-form-label {
            text-align: right;
            padding-right: 10px;
            width: 23%;
            vertical-align: top;
            span {
              color: red;
            }
          }
          .request-form-input {
            width: 76%;
            textarea {
              color: #666666;
              width: 100%;
              border: 1px solid #dbdbdb;
              border-radius: 4px;
              padding: 10px 15px;
              background: #fff;
            }
          }
        }
        .btn-group {
          margin-top: 20px;
          width: 100%;
          .request-form-label, .request-form-input {
            display: inline-block;
          }
          .request-form-label {
            text-align: right;
            padding-right: 10px;
            width: 23%;
          }
          .request-form-input {
            width: 76%;
            span, input {
              padding: 5px 30px;
              border-radius: 5px;
              border:none;
              font-size: 13px;
              display: inline-block;
              margin-right: 20px;
            }
            input {
              background: #1C90F3;
              color: white;
              font-weight: bold;
            }
            span {
              background: #b7b7b7;
            }
            span:hover {
              cursor: pointer;
            }
          }
        }
      }
      
    }
  }
}


//

.show-request {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  .request-box {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    padding: 5% 0px 20% 0px;
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    .request-detail {
      background: white;
      overflow: auto;
      width: 600px;
      height: auto;
      margin: auto;
      padding: 7px 7px 20px 15px;
      font-size: 13px;
      .main-form, .x-form {
        display: inline-block;
      }
      .x-form {
        width: 2%;
        vertical-align: top;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        font-family: SANS-SERIF;
        .close-request-form:hover {
          cursor: pointer;
        }
      }
      .main-form {
        width: 97%;
        .title {
          text-align: left;
          font-weight: bold;
          margin-bottom: 10px;
          font-size: 16px;
          text-transform: uppercase;
          span {
            float: right;
          }
          span:hover {
            cursor: pointer;
          }
        }
        .status-to-cc {
          margin-top: 20px;
          overflow: hidden;
          border-bottom: 1px solid #cccccc;
          padding-bottom: 10px;
          .ele {
            margin: 5px 0px;
            .detail-label {
              width: 24%;
              display: inline-block;
              text-align: right;
              padding-right: 10px;
              font-weight: bold;

            }
            .detail-info {
              width: 75%;
              display: inline-block;
              .request-status {
                color: white;
                margin: 8px 0px;
                font-size: 12px;
                .pending, .approved, .denied {
                  padding: 5px 10px;
                  border-radius: 4px;
                }
                .pending {
                  background: #4d8bc0;
                }
                .approved {
                  background: #56a656;
                }
                .denied {
                  background: #d35956;
                }
              }
            }
            .reviewers-ccers {
              font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
              color: rgb(0, 132, 255);
              font-size: 14px;
              font-weight: normal;
            }
          }
        }
        .request-detail-info {
          margin-top: 5px;
          overflow: hidden;
          border-bottom: 1px solid #cccccc;
          padding-bottom: 10px;
          .edit-in-show {
            float: right;
            border-radius: 5px;
            padding: 5px 10px;
            background: #4d8bc0;
            border: 1px solid #1b6aae;
            color: white;
          }
          a:hover {
            text-decoration: none;
            background: white;
            border: 1px solid black;
            color: black;
          }
          .ele {
            margin: 10px 0px;
            .detail-label {
              width: 24%;
              display: inline-block;
              text-align: right;
              padding-right: 10px;
              font-weight: bold;
              vertical-align: top;
            }
            .detail-info {
              width: 75%;
              display: inline-block;
              .duration-ele, .duration-ele-last {
                padding: 5px 0px;
                .duration-date, .duration-type {
                  font-weight: bold;
                  display: block;
                  margin: 5px 0px;
                }
              }
              .duration-ele {
                border-bottom: 1px solid #cccccc;
              }
            }
            .request-type {
              font-size: 15px;
            }
            .request-date-time {
              vertical-align: top;
              padding-top: 10px;
            }
          }
        }
        .reviewer-box {
          padding-top: 20px;
          padding-left: 25%;
          .button_to {
            display: inline-block;
            margin-right: 30px;
            input {
              border-radius: 5px;
              padding: 10px 20px;
              color: white;
              font-weight: bold;
            }
            input:hover {
              border: 1px solid black;
              background: #fff;
              color: black;
            }
            .approve {
              border: 1px solid #6c996c;
              background: #56a656;
            }

            .deny {
              border: 1px solid #bd504d;
              background: #d35956;
            }
          }
        }
        .discussion-box {
          padding: 20px 0px;
          .title {
            float: left;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 15px;
            text-transform: capitalize;
            display: block;
            width: 100%;
          }
          .cmt-btn {
            border: none;
            padding: 7px 20px;
            border-radius: 5px;
            background: #ccc;
            color: black;
            border: none;
            display: block;
          }
        }
      }
    }
  }  
}