// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-board {
  .request-record {
    font-size: 20px;
  }
  tbody {
    .request-record {
      td {

      }
      .request-status {
        color: white;
        margin: 5px 0px;
        font-size: 12px;
        .pending, .approved, .denied {
          padding: 5px 10px;
          border-radius: 4px;
        }
        .pending {
          background: #4d8bc0;
        }
        .approved {
          background: #56a656;
        }
        .denied {
          background: #d35956;
        }
      }
      .delete-request {
        a:hover {
          background: transparent;
          text-decoration: none;
          color: #fc4349;
        }
      }
    }
    .request-record:hover {
      cursor: pointer;
    }
  }
}

.new-request-form {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background: rgba(0,0,0,0.7);
  #new-request {
    position: absolute;
    z-index: 100;
    #new_request {
      background: white;
      overflow: auto;
      text-align: center;
      width: 100%;
      margin: auto;
      padding: 20px;
      .title {
        text-align: left;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .reviewer-cc {
        border-collapse:separate;
        border-spacing:1em;
        border-bottom: 1px solid #cccccc;
        .reviewer-cc-form {
          margin-bottom: 15px;
          .form-input {
            padding-right: 10px;
            input {
              border: 1px solid #999999;
              border-radius: 4px;
              padding: 5px 15px;
              background: #fff;
            }
          }
          .form-label {
            font-size: 13px;
          }
        }
      }
    }
  }
}
