// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// User show

.year {
  color: #d1d2cb;
  border-bottom: 2px solid #edeeeb;
  font-weight: 600;
  font-size: 23px;
  padding-bottom: 10px;
}

.leave-info {
  border-bottom: 1px solid #edeeeb;
  padding: 10px 0px;
  a:visited{
    color: #a0a0a0;
  }
  a:hover {
    background: transparent;
    text-decoration: none;
  }
  .leave-info-tab {
    display: inline-block;
    .title {
      color: #a0a0a0;
      margin-bottom: 0px;
      font-size: 12px;
    }
    .info {
      color: #595959;
      font-size: 12px;
      span {
        color: #424242;
        font-size: 23px;
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
  .leave-balance {
    padding-right: 50px;
    border-right: 1px solid #edeeeb;
  }
  .wfh-days {
    padding-left: 10px;
  }
}

.user-leave-board {
  padding: 20px 0px;
  .board-title {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #424242;
  }
}
