
<div id="header">
  <div class="container-z">
    <div class="logo">
      <%= link_to root_path do %>
        <div class="app-title">leave tracking system</div>
      <% end %>
    </div>
    <% if logged_in? %>
      <div class="dropdown login-control">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag("user-icon.png") %> <span><%= current_user.name %></span> <i class="fa fa-caret-down caret-icon" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        </div>
      </div>
    <% end %>
  </div>
</div>

