<div id="nav-bar">
  <div class="container-z">
    <div class="title-tab">
      <%= link_to 'Dashboard', user_path(current_user) %>
    </div>
    <div class="title-tab">
      <%= link_to 'Company Board', users_path %>
    </div>
  </div>
</div>
