<div id="nav-bar">
  <div class="container-z">
    <div class="title-tab">
      <%= link_to 'Dashboard', user_path(current_user) %>
    </div>
    <div class="title-tab">
      <%= link_to 'Company Board', users_path %>
    </div>
    <div class="send-request">
      <%= link_to 'Send Request', new_request_path, remote: true %>
    </div>
  </div>
</div>
